@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 229 225 239;
  --background: 12 9 21;
  --primary: 169 151 216;
  --secondary: 61 38 126;
  --accent: 98 58 207;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(var(--text));
  background-color: rgb(10 10 10 / var(--tw-bg-opacity, 1));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
